In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('mc1-reports-data.csv')
data = data.sort_values('time')

In [ ]:
data

                     time  sewer_and_water  ...  shake_intensity  location
9945  2020-04-06 00:00:00              2.0  ...              NaN        17
529   2020-04-06 00:00:00              2.0  ...              0.0         2
4925  2020-04-06 00:00:00              9.0  ...              NaN         8
2460  2020-04-06 00:00:00             10.0  ...              NaN         4
8554  2020-04-06 00:00:00              6.0  ...              1.0        15
...                   ...              ...  ...              ...       ...
3761  2020-04-11 00:00:00              7.0  ...              NaN         6
1310  2020-04-11 00:00:00              5.0  ...              NaN         2
8582  2020-04-11 00:00:00              5.0  ...              NaN        15
7343  2020-04-11 00:00:00              4.0  ...              NaN        13
1223  2020-04-11 00:00:00              7.0  ...              0.0         2

[83070 rows x 8 columns]

In [ ]:
data = data[:4963]

In [ ]:
l1d1 = data[data['location']==1]

In [ ]:
l1d1
#day1.to_csv('day1.csv')

                    time  sewer_and_water  ...  shake_intensity  location
99   2020-04-06 00:35:00              2.0  ...              NaN         1
309  2020-04-06 01:20:00             10.0  ...              NaN         1
166  2020-04-06 01:25:00              5.0  ...              1.0         1
283  2020-04-06 01:35:00              9.0  ...              NaN         1
262  2020-04-06 02:00:00              6.0  ...              NaN         1
..                   ...              ...  ...              ...       ...
192  2020-04-06 22:20:00              3.0  ...              NaN         1
360  2020-04-06 22:25:00              7.0  ...              NaN         1
293  2020-04-06 22:45:00              9.0  ...              NaN         1
64   2020-04-06 23:35:00              1.0  ...              NaN         1
341  2020-04-06 23:40:00             10.0  ...              NaN         1

[105 rows x 8 columns]

In [ ]:
l1d1.reset_index(inplace=True)
l1d1

     index                 time  ...  shake_intensity  location
0       99  2020-04-06 00:35:00  ...              NaN         1
1      309  2020-04-06 01:20:00  ...              NaN         1
2      166  2020-04-06 01:25:00  ...              1.0         1
3      283  2020-04-06 01:35:00  ...              NaN         1
4      262  2020-04-06 02:00:00  ...              NaN         1
..     ...                  ...  ...              ...       ...
100    192  2020-04-06 22:20:00  ...              NaN         1
101    360  2020-04-06 22:25:00  ...              NaN         1
102    293  2020-04-06 22:45:00  ...              NaN         1
103     64  2020-04-06 23:35:00  ...              NaN         1
104    341  2020-04-06 23:40:00  ...              NaN         1

[105 rows x 9 columns]

In [ ]:
l1d1.drop(['index','location'],axis=1,inplace=True)
l1d1

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                    time  sewer_and_water  ...  buildings  shake_intensity
0    2020-04-06 00:35:00              2.0  ...        5.0              NaN
1    2020-04-06 01:20:00             10.0  ...        3.0              NaN
2    2020-04-06 01:25:00              5.0  ...        6.0              1.0
3    2020-04-06 01:35:00              9.0  ...        0.0              NaN
4    2020-04-06 02:00:00              6.0  ...       10.0              NaN
..                   ...              ...  ...        ...              ...
100  2020-04-06 22:20:00              3.0  ...       10.0              NaN
101  2020-04-06 22:25:00              7.0  ...        4.0              NaN
102  2020-04-06 22:45:00              9.0  ...        5.0              NaN
103  2020-04-06 23:35:00              1.0  ...        6.0              NaN
104  2020-04-06 23:40:00             10.0  ...        5.0              NaN

[105 rows x 7 columns]

In [ ]:
l1d1.to_csv('location1day1.csv')

Loc2 Day1

In [ ]:
l2d1 = data[data['location']==2]
l2d1

                     time  sewer_and_water  ...  shake_intensity  location
529   2020-04-06 00:00:00              2.0  ...              0.0         2
823   2020-04-06 00:05:00             10.0  ...              0.0         2
506   2020-04-06 00:10:00              1.0  ...              NaN         2
448   2020-04-06 00:35:00              1.0  ...              1.0         2
1276  2020-04-06 00:35:00              8.0  ...              NaN         2
...                   ...              ...  ...              ...       ...
891   2020-04-06 23:10:00              8.0  ...              NaN         2
1343  2020-04-06 23:15:00              9.0  ...              NaN         2
1307  2020-04-06 23:45:00              1.0  ...              NaN         2
1237  2020-04-06 23:50:00              2.0  ...              NaN         2
1139  2020-04-06 23:55:00              7.0  ...              NaN         2

[390 rows x 8 columns]

In [ ]:
l2d1.reset_index(inplace=True)
l2d1

     index                 time  ...  shake_intensity  location
0      529  2020-04-06 00:00:00  ...              0.0         2
1      823  2020-04-06 00:05:00  ...              0.0         2
2      506  2020-04-06 00:10:00  ...              NaN         2
3      448  2020-04-06 00:35:00  ...              1.0         2
4     1276  2020-04-06 00:35:00  ...              NaN         2
..     ...                  ...  ...              ...       ...
385    891  2020-04-06 23:10:00  ...              NaN         2
386   1343  2020-04-06 23:15:00  ...              NaN         2
387   1307  2020-04-06 23:45:00  ...              NaN         2
388   1237  2020-04-06 23:50:00  ...              NaN         2
389   1139  2020-04-06 23:55:00  ...              NaN         2

[390 rows x 9 columns]

In [ ]:
l2d1.drop(['index','location'],axis=1,inplace=True)
l2d1

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                    time  sewer_and_water  ...  buildings  shake_intensity
0    2020-04-06 00:00:00              2.0  ...        3.0              0.0
1    2020-04-06 00:05:00             10.0  ...       10.0              0.0
2    2020-04-06 00:10:00              1.0  ...        2.0              NaN
3    2020-04-06 00:35:00              1.0  ...       10.0              1.0
4    2020-04-06 00:35:00              8.0  ...        2.0              NaN
..                   ...              ...  ...        ...              ...
385  2020-04-06 23:10:00              8.0  ...        0.0              NaN
386  2020-04-06 23:15:00              9.0  ...        5.0              NaN
387  2020-04-06 23:45:00              1.0  ...        4.0              NaN
388  2020-04-06 23:50:00              2.0  ...       10.0              NaN
389  2020-04-06 23:55:00              7.0  ...       10.0              NaN

[390 rows x 7 columns]

In [ ]:
l2d1.to_csv('location2day1.csv')

Loc3 day1

In [ ]:
l3d1 = data[data['location']==3]
l3d1.reset_index(inplace=True)
l3d1.drop(['index','location'],axis=1,inplace=True)
l3d1.to_csv('location3day1.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
l3d1

                    time  sewer_and_water  ...  buildings  shake_intensity
0    2020-04-06 00:00:00              6.0  ...        9.0              NaN
1    2020-04-06 00:10:00              5.0  ...        0.0              1.0
2    2020-04-06 00:15:00              4.0  ...        9.0              NaN
3    2020-04-06 00:20:00              0.0  ...        1.0              NaN
4    2020-04-06 00:25:00              5.0  ...        2.0              NaN
..                   ...              ...  ...        ...              ...
591  2020-04-06 23:10:00             10.0  ...        1.0              NaN
592  2020-04-06 23:10:00              3.0  ...        4.0              NaN
593  2020-04-06 23:40:00              1.0  ...        3.0              NaN
594  2020-04-06 23:45:00              1.0  ...        9.0              NaN
595  2020-04-06 23:45:00              3.0  ...        7.0              NaN

[596 rows x 7 columns]

Loc4 day1

In [ ]:
l4d1 = data[data['location']==4]
l4d1.reset_index(inplace=True)
l4d1.drop(['index','location'],axis=1,inplace=True)
l4d1.to_csv('location4day1.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc5 day1

In [ ]:
l5d1 = data[data['location']==5]
l5d1.reset_index(inplace=True)
l5d1.drop(['index','location'],axis=1,inplace=True)
l5d1.to_csv('location5day1.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc6 day1

In [ ]:
l6d1 = data[data['location']==6]
l6d1.reset_index(inplace=True)
l6d1.drop(['index','location'],axis=1,inplace=True)
l6d1.to_csv('location6day1.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc7 day1

In [ ]:
l7d1 = data[data['location']==7]
l7d1.reset_index(inplace=True)
l7d1.drop(['index','location'],axis=1,inplace=True)
l7d1.to_csv('location7day1.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc8 day1

In [ ]:
l8d1 = data[data['location']==8]
l8d1.reset_index(inplace=True)
l8d1.drop(['index','location'],axis=1,inplace=True)
l8d1.to_csv('location8day1.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc9 day1

In [ ]:
l9d1 = data[data['location']==9]
l9d1.reset_index(inplace=True)
l9d1.drop(['index','location'],axis=1,inplace=True)
l9d1.to_csv('location9day1.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc10 day1

In [ ]:
l10d1 = data[data['location']==10]
l10d1.reset_index(inplace=True)
l10d1.drop(['index','location'],axis=1,inplace=True)
l10d1.to_csv('location10day1.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc11 day1

In [ ]:
l11d1 = data[data['location']==11]
l11d1.reset_index(inplace=True)
l11d1.drop(['index','location'],axis=1,inplace=True)
l11d1.to_csv('location11day1.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc12 day1

In [ ]:
l12d1 = data[data['location']==12]
l12d1.reset_index(inplace=True)
l12d1.drop(['index','location'],axis=1,inplace=True)
l12d1.to_csv('location12day1.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc13 day1

In [ ]:
l13d1 = data[data['location']==13]
l13d1.reset_index(inplace=True)
l13d1.drop(['index','location'],axis=1,inplace=True)
l13d1.to_csv('location13day1.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc14 day1

In [ ]:
l14d1 = data[data['location']==14]
l14d1.reset_index(inplace=True)
l14d1.drop(['index','location'],axis=1,inplace=True)
l14d1.to_csv('location14day1.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc15 day1

In [ ]:
l15d1 = data[data['location']==15]
l15d1.reset_index(inplace=True)
l15d1.drop(['index','location'],axis=1,inplace=True)
l15d1.to_csv('location15day1.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc16 day1

In [ ]:
l16d1 = data[data['location']==16]
l16d1.reset_index(inplace=True)
l16d1.drop(['index','location'],axis=1,inplace=True)
l16d1.to_csv('location16day1.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc17 day1

In [ ]:
l17d1 = data[data['location']==17]
l17d1.reset_index(inplace=True)
l17d1.drop(['index','location'],axis=1,inplace=True)
l17d1.to_csv('location17day1.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc18 day1

In [ ]:
l18d1 = data[data['location']==18]
l18d1.reset_index(inplace=True)
l18d1.drop(['index','location'],axis=1,inplace=True)
l18d1.to_csv('location18day1.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc19 day1

In [ ]:
l19d1 = data[data['location']==19]
l19d1.reset_index(inplace=True)
l19d1.drop(['index','location'],axis=1,inplace=True)
l19d1.to_csv('location19day1.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,