In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('mc1-reports-data.csv')
data = data.sort_values('time')

In [ ]:
data.reset_index(inplace=True)

In [ ]:
#data = data[4963:7215]
data.drop('index',inplace=True,axis=1)

In [ ]:
data

                      time  sewer_and_water  ...  shake_intensity  location
0      2020-04-06 00:00:00              2.0  ...              NaN        17
1      2020-04-06 00:00:00              2.0  ...              0.0         2
2      2020-04-06 00:00:00              9.0  ...              NaN         8
3      2020-04-06 00:00:00             10.0  ...              NaN         4
4      2020-04-06 00:00:00              6.0  ...              1.0        15
...                    ...              ...  ...              ...       ...
83065  2020-04-11 00:00:00              7.0  ...              NaN         6
83066  2020-04-11 00:00:00              5.0  ...              NaN         2
83067  2020-04-11 00:00:00              5.0  ...              NaN        15
83068  2020-04-11 00:00:00              4.0  ...              NaN        13
83069  2020-04-11 00:00:00              7.0  ...              0.0         2

[83070 rows x 8 columns]

In [ ]:
data = data[4963:7215]
data

                     time  sewer_and_water  ...  shake_intensity  location
4963  2020-04-07 00:00:00              6.0  ...              NaN        15
4964  2020-04-07 00:00:00              3.0  ...              NaN         6
4965  2020-04-07 00:00:00              9.0  ...              NaN         2
4966  2020-04-07 00:00:00              8.0  ...              NaN        15
4967  2020-04-07 00:00:00              6.0  ...              NaN         9
...                   ...              ...  ...              ...       ...
7210  2020-04-07 23:55:00             10.0  ...              NaN        17
7211  2020-04-07 23:55:00             10.0  ...              1.0         1
7212  2020-04-07 23:55:00              2.0  ...              1.0         6
7213  2020-04-07 23:55:00              3.0  ...              0.0         6
7214  2020-04-07 23:55:00              1.0  ...              NaN        15

[2252 rows x 8 columns]

Loc1 day2

In [ ]:
l1d2 = data[data['location']==1]
l1d2.reset_index(inplace=True)
l1d2.drop(['index','location'],axis=1,inplace=True)
l1d2.to_csv('location1day2.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
l1d2.to_csv('location1day2.csv')

Loc2 day2

In [ ]:
l2d2 = data[data['location']==2]
l2d2.reset_index(inplace=True)
l2d2.drop(['index','location'],axis=1,inplace=True)
l2d2.to_csv('location2day2.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc3 day2

In [ ]:
l3d2 = data[data['location']==3]
l3d2.reset_index(inplace=True)
l3d2.drop(['index','location'],axis=1,inplace=True)
l3d2.to_csv('location3day2.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc4 day2

In [ ]:
l4d2 = data[data['location']==4]
l4d2.reset_index(inplace=True)
l4d2.drop(['index','location'],axis=1,inplace=True)
l4d2.to_csv('location4day2.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc5 day2

In [ ]:
l5d2 = data[data['location']==5]
l5d2.reset_index(inplace=True)
l5d2.drop(['index','location'],axis=1,inplace=True)
l5d2.to_csv('location5day2.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc6 day2

In [ ]:
l6d2 = data[data['location']==6]
l6d2.reset_index(inplace=True)
l6d2.drop(['index','location'],axis=1,inplace=True)
l6d2.to_csv('location6day2.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc7 day2

In [ ]:
l7d2 = data[data['location']==7]
l7d2.reset_index(inplace=True)
l7d2.drop(['index','location'],axis=1,inplace=True)
l7d2.to_csv('location7day2.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc8 day2

In [ ]:
l8d2 = data[data['location']==8]
l8d2.reset_index(inplace=True)
l8d2.drop(['index','location'],axis=1,inplace=True)
l8d2.to_csv('location8day2.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc9 day2

In [ ]:
l9d2 = data[data['location']==9]
l9d2.reset_index(inplace=True)
l9d2.drop(['index','location'],axis=1,inplace=True)
l9d2.to_csv('location9day2.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc10 day3

In [ ]:
l10d2 = data[data['location']==10]
l10d2.reset_index(inplace=True)
l10d2.drop(['index','location'],axis=1,inplace=True)
l10d2.to_csv('location10day2.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc11 day3

In [ ]:
l11d2 = data[data['location']==11]
l11d2.reset_index(inplace=True)
l11d2.drop(['index','location'],axis=1,inplace=True)
l11d2.to_csv('location11day2.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc12 day3

In [ ]:
l12d2 = data[data['location']==12]
l12d2.reset_index(inplace=True)
l12d2.drop(['index','location'],axis=1,inplace=True)
l12d2.to_csv('location12day2.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc13 day3

In [ ]:
l13d2 = data[data['location']==13]
l13d2.reset_index(inplace=True)
l13d2.drop(['index','location'],axis=1,inplace=True)
l13d2.to_csv('location13day2.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc14 day2

In [ ]:
l14d2 = data[data['location']==14]
l14d2.reset_index(inplace=True)
l14d2.drop(['index','location'],axis=1,inplace=True)
l14d2.to_csv('location14day2.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc15 day2

In [ ]:
l15d2 = data[data['location']==15]
l15d2.reset_index(inplace=True)
l15d2.drop(['index','location'],axis=1,inplace=True)
l15d2.to_csv('location15day2.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc16 day2

In [ ]:
l16d2 = data[data['location']==16]
l16d2.reset_index(inplace=True)
l16d2.drop(['index','location'],axis=1,inplace=True)
l16d2.to_csv('location16day2.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc17 day2

In [ ]:
l17d2 = data[data['location']==17]
l17d2.reset_index(inplace=True)
l17d2.drop(['index','location'],axis=1,inplace=True)
l17d2.to_csv('location17day2.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc18 day2

In [ ]:
l18d2 = data[data['location']==18]
l18d2.reset_index(inplace=True)
l18d2.drop(['index','location'],axis=1,inplace=True)
l18d2.to_csv('location18day2.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc19 day2

In [ ]:
l19d2 = data[data['location']==19]
l19d2.reset_index(inplace=True)
l19d2.drop(['index','location'],axis=1,inplace=True)
l19d2.to_csv('location19day2.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
from google.colab import drive
drive.mount('/content/drive')