In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('mc1-reports-data.csv')
#data = data.sort_values('time')

In [ ]:
data.reset_index(inplace=True)

In [ ]:
data.drop('index',inplace=True,axis=1)
data

                 time  sewer_and_water  ...  shake_intensity  location
0       4/6/2020 0:00              2.0  ...              0.0         2
1       4/6/2020 0:00              6.0  ...              NaN         3
2       4/6/2020 0:00             10.0  ...              NaN         4
3       4/6/2020 0:00              8.0  ...              1.0         4
4       4/6/2020 0:00              9.0  ...              NaN         8
...               ...              ...  ...              ...       ...
83065  4/11/2020 0:00              5.0  ...              NaN         2
83066  4/11/2020 0:00              7.0  ...              NaN         6
83067  4/11/2020 0:00              4.0  ...              NaN        13
83068  4/11/2020 0:00              5.0  ...              NaN        15
83069  4/11/2020 0:00              5.0  ...              0.0        18

[83070 rows x 8 columns]

In [ ]:
data = data[7215:50885]
data

                 time  sewer_and_water  ...  shake_intensity  location
7215    4/8/2020 0:00              7.0  ...              NaN         5
7216    4/8/2020 0:00              1.0  ...              NaN         8
7217    4/8/2020 0:00              5.0  ...              NaN        13
7218    4/8/2020 0:00              2.0  ...              NaN        16
7219    4/8/2020 0:05              0.0  ...              1.0         2
...               ...              ...  ...              ...       ...
50880  4/8/2020 23:55              3.0  ...              NaN         6
50881  4/8/2020 23:55              3.0  ...              0.0         9
50882  4/8/2020 23:55              3.0  ...              NaN        13
50883  4/8/2020 23:55              5.0  ...              NaN        15
50884  4/8/2020 23:55              0.0  ...              NaN        19

[43670 rows x 8 columns]

Loc1 day3

In [ ]:
l1d3 = data[data['location']==1]
l1d3.reset_index(inplace=True)
l1d3.drop(['index','location'],axis=1,inplace=True)
l1d3.to_csv('location1day3.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc2 day3

In [ ]:
l2d3 = data[data['location']==2]
l2d3.reset_index(inplace=True)
l2d3.drop(['index','location'],axis=1,inplace=True)
l2d3.to_csv('location2day3.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc3 day3

In [ ]:
l3d3 = data[data['location']==3]
l3d3.reset_index(inplace=True)
l3d3.drop(['index','location'],axis=1,inplace=True)
l3d3.to_csv('location3day3.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Lcc4 day3

In [ ]:
l4d3 = data[data['location']==4]
l4d3.reset_index(inplace=True)
l4d3.drop(['index','location'],axis=1,inplace=True)
l4d3.to_csv('location4day3.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc5 day3

In [ ]:
l5d3 = data[data['location']==5]
l5d3.reset_index(inplace=True)
l5d3.drop(['index','location'],axis=1,inplace=True)
l5d3.to_csv('location5day3.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc6 day3

In [ ]:
l6d3 = data[data['location']==6]
l6d3.reset_index(inplace=True)
l6d3.drop(['index','location'],axis=1,inplace=True)
l6d3.to_csv('location6day3.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc7 day3

In [ ]:
l7d3 = data[data['location']==7]
l7d3.reset_index(inplace=True)
l7d3.drop(['index','location'],axis=1,inplace=True)
l7d3.to_csv('location7day3.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc8 day3

In [ ]:
l8d3 = data[data['location']==8]
l8d3.reset_index(inplace=True)
l8d3.drop(['index','location'],axis=1,inplace=True)
l8d3.to_csv('location8day3.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc9 day3

In [ ]:
l9d3 = data[data['location']==9]
l9d3.reset_index(inplace=True)
l9d3.drop(['index','location'],axis=1,inplace=True)
l9d3.to_csv('location9day3.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc10 day3

In [ ]:
l10d3 = data[data['location']==10]
l10d3.reset_index(inplace=True)
l10d3.drop(['index','location'],axis=1,inplace=True)
l10d3.to_csv('location10day3.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc11 day3

In [ ]:
l11d3 = data[data['location']==11]
l11d3.reset_index(inplace=True)
l11d3.drop(['index','location'],axis=1,inplace=True)
l11d3.to_csv('location11day3.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc12 day3

In [ ]:
l12d3 = data[data['location']==12]
l12d3.reset_index(inplace=True)
l12d3.drop(['index','location'],axis=1,inplace=True)
l12d3.to_csv('location12day3.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc13 day3

In [ ]:
l13d3 = data[data['location']==13]
l13d3.reset_index(inplace=True)
l13d3.drop(['index','location'],axis=1,inplace=True)
l13d3.to_csv('location13day3.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc14 day3

In [ ]:
l14d3 = data[data['location']==14]
l14d3.reset_index(inplace=True)
l14d3.drop(['index','location'],axis=1,inplace=True)
l14d3.to_csv('location14day3.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc15 day3

In [ ]:
l15d3 = data[data['location']==15]
l15d3.reset_index(inplace=True)
l15d3.drop(['index','location'],axis=1,inplace=True)
l15d3.to_csv('location15day3.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc16 day3

In [ ]:
l16d3 = data[data['location']==16]
l16d3.reset_index(inplace=True)
l16d3.drop(['index','location'],axis=1,inplace=True)
l16d3.to_csv('location16day3.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc17 day3

In [ ]:
l17d3 = data[data['location']==17]
l17d3.reset_index(inplace=True)
l17d3.drop(['index','location'],axis=1,inplace=True)
l17d3.to_csv('location17day3.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc18 day3

In [ ]:
l18d3 = data[data['location']==18]
l18d3.reset_index(inplace=True)
l18d3.drop(['index','location'],axis=1,inplace=True)
l18d3.to_csv('location18day3.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc19 day3

In [ ]:
l19d3 = data[data['location']==19]
l19d3.reset_index(inplace=True)
l19d3.drop(['index','location'],axis=1,inplace=True)
l19d3.to_csv('location19day3.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,