In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('mc1-reports-data.csv')

In [ ]:
data.reset_index(inplace=True)

In [ ]:
data.drop('index',inplace=True,axis=1)
data

                 time  sewer_and_water  ...  shake_intensity  location
0       4/6/2020 0:00              2.0  ...              0.0         2
1       4/6/2020 0:00              6.0  ...              NaN         3
2       4/6/2020 0:00             10.0  ...              NaN         4
3       4/6/2020 0:00              8.0  ...              1.0         4
4       4/6/2020 0:00              9.0  ...              NaN         8
...               ...              ...  ...              ...       ...
83065  4/11/2020 0:00              5.0  ...              NaN         2
83066  4/11/2020 0:00              7.0  ...              NaN         6
83067  4/11/2020 0:00              4.0  ...              NaN        13
83068  4/11/2020 0:00              5.0  ...              NaN        15
83069  4/11/2020 0:00              5.0  ...              0.0        18

[83070 rows x 8 columns]

In [ ]:
data = data[50885:75820]
data

Empty DataFrame
Columns: [time, sewer_and_water, power, roads_and_bridges, medical, buildings, shake_intensity, location]
Index: []

Loc1 day4

In [ ]:
l1d4 = data[data['location']==1]
l1d4.reset_index(inplace=True)
l1d4.drop(['index','location'],axis=1,inplace=True)
l1d4.to_csv('location1day4.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc2 day4

In [ ]:
l2d4 = data[data['location']==2]
l2d4.reset_index(inplace=True)
l2d4.drop(['index','location'],axis=1,inplace=True)
l2d4.to_csv('location2day4.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc3 day4

In [ ]:
l3d4 = data[data['location']==3]
l3d4.reset_index(inplace=True)
l3d4.drop(['index','location'],axis=1,inplace=True)
l3d4.to_csv('location3day4.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc4 day4

In [ ]:
l4d4 = data[data['location']==4]
l4d4.reset_index(inplace=True)
l4d4.drop(['index','location'],axis=1,inplace=True)
l4d4.to_csv('location4day4.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc5 day4

In [ ]:
l5d4 = data[data['location']==5]
l5d4.reset_index(inplace=True)
l5d4.drop(['index','location'],axis=1,inplace=True)
l5d4.to_csv('location5day4.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc6 day4

In [ ]:
l6d4 = data[data['location']==6]
l6d4.reset_index(inplace=True)
l6d4.drop(['index','location'],axis=1,inplace=True)
l6d4.to_csv('location6day4.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc7 day4

In [ ]:
l7d4 = data[data['location']==7]
l7d4.reset_index(inplace=True)
l7d4.drop(['index','location'],axis=1,inplace=True)
l7d4.to_csv('location7day4.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc8 day4

In [ ]:
l8d4 = data[data['location']==8]
l8d4.reset_index(inplace=True)
l8d4.drop(['index','location'],axis=1,inplace=True)
l8d4.to_csv('location8day4.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc9 day4

In [ ]:
l9d4 = data[data['location']==9]
l9d4.reset_index(inplace=True)
l9d4.drop(['index','location'],axis=1,inplace=True)
l9d4.to_csv('location9day4.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc10 day4

In [ ]:
l10d4 = data[data['location']==10]
l10d4.reset_index(inplace=True)
l10d4.drop(['index','location'],axis=1,inplace=True)
l10d4.to_csv('location10day4.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc11 day4

In [ ]:
l11d4 = data[data['location']==11]
l11d4.reset_index(inplace=True)
l11d4.drop(['index','location'],axis=1,inplace=True)
l11d4.to_csv('location11day4.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc12 day4

In [ ]:
l12d4 = data[data['location']==12]
l12d4.reset_index(inplace=True)
l12d4.drop(['index','location'],axis=1,inplace=True)
l12d4.to_csv('location12day4.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc13 day4

In [ ]:
l13d4 = data[data['location']==13]
l13d4.reset_index(inplace=True)
l13d4.drop(['index','location'],axis=1,inplace=True)
l13d4.to_csv('location13day4.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc14 day4

In [ ]:
l14d4 = data[data['location']==14]
l14d4.reset_index(inplace=True)
l14d4.drop(['index','location'],axis=1,inplace=True)
l14d4.to_csv('location14day4.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc15 day4

In [ ]:
l15d4 = data[data['location']==15]
l15d4.reset_index(inplace=True)
l15d4.drop(['index','location'],axis=1,inplace=True)
l15d4.to_csv('location15day4.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc16 day4

In [ ]:
l16d4 = data[data['location']==16]
l16d4.reset_index(inplace=True)
l16d4.drop(['index','location'],axis=1,inplace=True)
l16d4.to_csv('location16day4.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc17 day4

In [ ]:
l17d4 = data[data['location']==17]
l17d4.reset_index(inplace=True)
l17d4.drop(['index','location'],axis=1,inplace=True)
l17d4.to_csv('location17day4.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc18 day4

In [ ]:
l18d4 = data[data['location']==18]
l18d4.reset_index(inplace=True)
l18d4.drop(['index','location'],axis=1,inplace=True)
l18d4.to_csv('location18day4.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc19 day4

In [ ]:
l19d4 = data[data['location']==19]
l19d4.reset_index(inplace=True)
l19d4.drop(['index','location'],axis=1,inplace=True)
l19d4.to_csv('location19day4.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
l19d4 = data[data['location']==19]
l19d4.reset_index(inplace=True)
l19d4.drop(['index','location'],axis=1,inplace=True)
l19d4.to_csv('location19day4.csv')