In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('mc1-reports-data.csv')

In [3]:
data.reset_index(inplace=True)

In [4]:
data.drop('index',inplace=True,axis=1)
data

                 time  sewer_and_water  ...  shake_intensity  location
0       4/6/2020 0:00              2.0  ...              0.0         2
1       4/6/2020 0:00              6.0  ...              NaN         3
2       4/6/2020 0:00             10.0  ...              NaN         4
3       4/6/2020 0:00              8.0  ...              1.0         4
4       4/6/2020 0:00              9.0  ...              NaN         8
...               ...              ...  ...              ...       ...
83065  4/11/2020 0:00              5.0  ...              NaN         2
83066  4/11/2020 0:00              7.0  ...              NaN         6
83067  4/11/2020 0:00              4.0  ...              NaN        13
83068  4/11/2020 0:00              5.0  ...              NaN        15
83069  4/11/2020 0:00              5.0  ...              0.0        18

[83070 rows x 8 columns]

In [5]:
data = data[75820:83064]
data

                  time  sewer_and_water  ...  shake_intensity  location
75820   4/10/2020 0:00              3.0  ...              NaN         1
75821   4/10/2020 0:00             10.0  ...              1.0         6
75822   4/10/2020 0:00              8.0  ...              NaN         6
75823   4/10/2020 0:00             10.0  ...              NaN         9
75824   4/10/2020 0:00              5.0  ...              0.0         5
...                ...              ...  ...              ...       ...
83059  4/10/2020 23:55              9.0  ...              NaN         8
83060  4/10/2020 23:55              9.0  ...              NaN         9
83061  4/10/2020 23:55              3.0  ...              NaN        10
83062  4/10/2020 23:55              7.0  ...              NaN        14
83063  4/10/2020 23:55             10.0  ...              NaN        15

[7244 rows x 8 columns]

Loc1 day5

In [6]:
l1d5 = data[data['location']==1]
l1d5.reset_index(inplace=True)
l1d5.drop(['index','location'],axis=1,inplace=True)
l1d5.to_csv('location1day5.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc2 day5

In [7]:
l2d5 = data[data['location']==2]
l2d5.reset_index(inplace=True)
l2d5.drop(['index','location'],axis=1,inplace=True)
l2d5.to_csv('location2day5.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc3 day5

In [8]:
l3d5 = data[data['location']==3]
l3d5.reset_index(inplace=True)
l3d5.drop(['index','location'],axis=1,inplace=True)
l3d5.to_csv('location3day5.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc4 day5

In [9]:
l4d5 = data[data['location']==4]
l4d5.reset_index(inplace=True)
l4d5.drop(['index','location'],axis=1,inplace=True)
l4d5.to_csv('location4day5.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc5 day5

In [10]:
l5d5 = data[data['location']==5]
l5d5.reset_index(inplace=True)
l5d5.drop(['index','location'],axis=1,inplace=True)
l5d5.to_csv('location5day5.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc6 day5

In [11]:
l6d5 = data[data['location']==6]
l6d5.reset_index(inplace=True)
l6d5.drop(['index','location'],axis=1,inplace=True)
l6d5.to_csv('location6day5.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc7 day5

In [12]:
l7d5 = data[data['location']==7]
l7d5.reset_index(inplace=True)
l7d5.drop(['index','location'],axis=1,inplace=True)
l7d5.to_csv('location7day5.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc8 day5

In [13]:
l8d5 = data[data['location']==8]
l8d5.reset_index(inplace=True)
l8d5.drop(['index','location'],axis=1,inplace=True)
l8d5.to_csv('location8day5.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc9 day5

In [14]:
l9d5 = data[data['location']==9]
l9d5.reset_index(inplace=True)
l9d5.drop(['index','location'],axis=1,inplace=True)
l9d5.to_csv('location9day5.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc10 day5

In [15]:
l10d5 = data[data['location']==10]
l10d5.reset_index(inplace=True)
l10d5.drop(['index','location'],axis=1,inplace=True)
l10d5.to_csv('location10day5.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc11 day5

In [16]:
l11d5 = data[data['location']==11]
l11d5.reset_index(inplace=True)
l11d5.drop(['index','location'],axis=1,inplace=True)
l11d5.to_csv('location11day5.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc12 day5

In [17]:
l12d5 = data[data['location']==12]
l12d5.reset_index(inplace=True)
l12d5.drop(['index','location'],axis=1,inplace=True)
l12d5.to_csv('location12day5.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc13 day5

In [18]:
l13d5 = data[data['location']==13]
l13d5.reset_index(inplace=True)
l13d5.drop(['index','location'],axis=1,inplace=True)
l13d5.to_csv('location13day5.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc14 day5

In [19]:
l14d5 = data[data['location']==14]
l14d5.reset_index(inplace=True)
l14d5.drop(['index','location'],axis=1,inplace=True)
l14d5.to_csv('location14day5.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc15 day5

In [20]:
l15d5 = data[data['location']==15]
l15d5.reset_index(inplace=True)
l15d5.drop(['index','location'],axis=1,inplace=True)
l15d5.to_csv('location15day5.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc16 day5

In [21]:
l16d5 = data[data['location']==16]
l16d5.reset_index(inplace=True)
l16d5.drop(['index','location'],axis=1,inplace=True)
l16d5.to_csv('location16day5.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc17 day5

In [22]:
l17d5 = data[data['location']==17]
l17d5.reset_index(inplace=True)
l17d5.drop(['index','location'],axis=1,inplace=True)
l17d5.to_csv('location17day5.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc18 day5

In [23]:
l18d5 = data[data['location']==18]
l18d5.reset_index(inplace=True)
l18d5.drop(['index','location'],axis=1,inplace=True)
l18d5.to_csv('location18day5.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Loc19 day5

In [24]:
l19d5 = data[data['location']==19]
l19d5.reset_index(inplace=True)
l19d5.drop(['index','location'],axis=1,inplace=True)
l19d5.to_csv('location19day5.csv')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,